<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a User</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
    <%= JSON.stringify(user) %>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/hoidanit">hoidanit</a>
            <a class="active" href="/create">Create User</a>
            <a href="#about">About</a>
        </div>

        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete a user</legend>
                <div class="input-group d-none">
                    <label for="Id">Id: </label>
                    <input type="text" name="id" id="Id" value="<%= user.id%>"><br>
                </div>
                <div class="input-group">
                    <label for="email">Are you sure to delete this user with this Email: </label>
                    <input type="text" name="email" id="email" value="<%= user.email%>"><br>
                </div>

                <input type="submit" id="submit" value="Confirm">
            </fieldset>
        </form>
</body>

</html>