<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testEJS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>TESTEJS</h1>
    <div>
        <img class="hoidanit" src="/images/avatar.jpg" alt="avatar">
    </div>
</body>

</html>